%body
  %h2 Users
  = form_tag  :controller => :users, :action => :search, method: 'post'do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil
  
    %table.container
      %thead
        %tr
          %th{:colspan => "3"}
  
    %table.container
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            - if current_user.is_admin?
              - if current_user.is_admin?
                %td= link_to 'Edit', edit_user_path(user) if current_user.is_admin?
                %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
                %td= link_to 'Add Skills', new_user_skill_path(user)
