%p#notice= notice
%p
%center
  %font{:size => "5"}
    %strong
      = @user.name
%table{:style => "width:100%"}
  %tr
    %th
      %p
        %strong Skill
    %th
      %p
        %strong Category
    %th
      %p
        %strong Competence
  - @skills.each do |skill|
    %tr
      %td
        = skill.name
      %td
        = skill.category
      %td
        = UserSkill.find_by(skill_id: skill.id , user_id: @user.id).competence
      %td
        -if current_user.has_role? :assessor, skill
          %form#tfnewsearch{:action => "/users/endorseuser?endorseUser=#{@user.id}&endorseSkill=#{skill.id}", :method => "post"}
            %input#button{:type => "image", :height => "30", :src => "#{asset_path( 'endorse.gif' )}", :width => "30"}


  = link_to 'Back', users_path 

