<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div>
  <ul>
    <%= UserSkill.find_by(skill_id: @user.skills.ids , user_id: @user.id).competence %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
