%p#notice= notice
%p
%center
  %font{:size => "5"}
    %strong
      = @user.name
%table{:style => "width:100%"}
  %tr
    %th
      %p
        %strong Skill
    %th
      %p
        %strong Category
    %th
      %p
        %strong Competence
  - @skills.each do |skill|
    %tr
      %td
        = skill.name
      %td
        = skill.category
      %td
        = UserSkill.find_by(skill_id: skill.id , user_id: @user.id).competence

 = link_to 'Back', user_skills_path 
