%p#notice= notice
%p
  %strong Name:
  = @user.name
.skills
  %ul.skills
    = render @skills
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
|
= link_to 'Sign Out', destroy_user_session_path, :method => :delete
