%center
  %font{:size => "5"}
    %strong
      = @user.name
%br/
= render 'roles', :locals => {:user => @user}
%br/
%table{:style => "width:100%"}
  %tr
    %th
      %p
        %strong Skill
    %th
      %p
        %strong Category
    %th
      %p
        %strong Competence
  - @user_skills.each do |user_skill|
    %tr
      %td
        = user_skill.skill.name
      %td
        = user_skill.skill.category
      %td
        = user_skill.competence

%br/
%br/
-if current_user == @user
  =link_to "Add skills", new_user_skill_path(current_user), class: "btn btn-primary"

