<p id="notice"><%= notice %></p>
<p><center><font size="5">
 <strong> <%= @user.name %></strong>	
</font>
</center>
</p>

<table style="width:100%">
  <tr>
    <th>
	<p>
  		<strong>Skill</strong>
	</p>
     </th>
    <th>
	<p>
  		<strong>Category</strong>
        </p>
    </th>		    
    <th>
	  <p>
		<strong>Competence</strong>
          </p>
    </th>
  </tr>

  <% @skills.each do |skill| %>
  <tr>
    <td>
	<%= skill.name %>
    </td>
    <td>
	<%= skill.category %>
    </td>
    <td>
	<%= UserSkill.find_by(skill_id: skill.id , user_id: @user.id).competence %>
    </td>
   </tr>	
  <% end %>
		


</table>

