<p id="notice"><%= notice %></p>
<p><center><font size="5">
 <strong> <%= @skillSearch %></strong>	
</font>
</center>
</p>
  <%= link_to 'Back', user_skills_path  %>
<table style="width:100%">
  <tr>
    <th>
	<p>
  		<strong>User</strong>
	</p>
     </th>
   		    
    <th>
	  <p>
		<strong>Competence</strong>
          </p>
    </th>
  </tr>
  

  <% @searchedUsers.each do |user| %>
  <tr>
  
    <td>
	<%= User.find_by(id: user.user_id).name %>
    </td>
<td>
	<%= user.competence%>
    </td>
  <td>
  
  <button type="button" class="button" onclick="endorse(<%= user.user_id%>)" ><img src="<%= asset_path( 'endorse.gif' ) %>" width="30" height="30"></button>

  </td>
   </tr>	
  <% end %>
		

 
</table>



  <script>
    function endorse(competence)
     {
  console.log(userid);
  userskill=UserSkill.find_by(user_id: userid, skill_id: skillid)
  competence=userskill.competence	
  competence= competence +1
  userskill.save
  console.log(competence);

     }
  </script>
<style type="text/css">

  .button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  width= 30;
  height= 30;
  }

</style>
