<p id="notice"><%= notice %></p>
<p><center><font size="5">
 <strong> <%= @skillSearch %></strong>	
</font>
</center>
</p>
  <%= link_to 'Back', user_skills_path  %>
<table style="width:100%">
  <tr>
    <th>
	<p>
  		<strong>Skill</strong>
	</p>
     </th>
   		    
    <th>
	  <p>
		<strong>Competence</strong>
          </p>
    </th>
  </tr>

  <% @searchedUsers.each do |user| %>
  <tr>
  
    <td>
	<%= User.find_by(id: user.user_id).name %>
    </td>
<td>
	<%= user.competence%>
    </td>
   </tr>	
  <% end %>
		

 
</table>


