%h2 Listing Skills
= form_tag skills_path, method: 'get', id: "skills_search" do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", name: nil
%br/
.products 
  = render 'skills'
- if current_user.is_admin?
  = link_to 'New Skill', new_skill_path
