%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    %br/
    = f.email_field :email, autofocus: true, placeholder: "Email"
    %br/
    %br/
  .actions
    = f.submit "Reset password", class: "btn btn-warning"
    %br/
    %br/
= render "users/shared/links"
